/* 그룹선택 */
section > div {
    width: 1200px; margin: 0 auto; 
    display: flex; flex-flow: column nowrap; align-items: center;
    padding: 100px 0;
}
section .mini_title {
    display: flex; flex-flow: column nowrap; align-items: center;
}
section .mini_title h1 {
    font-family: 'Sofia', cursive;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 30px;
}
section .mini_title p {
    font-size: 1.2rem;
    letter-spacing: -0.02em; color: #fff7ae;
    margin-bottom: 50px;
}
/* 1. title */
.title_bg {
    background: url(../images/florence_bg.jpg) no-repeat fixed center /* 150% */;
    background-size: cover; height:100vh;
}
.title_bg .title {
    padding-top: 160px;
    /* padding-bottom: 355px; */
    display: flex; flex-flow: column nowrap;
    align-items: center; 
    position: relative; color: #fff;
}
.title_bg .title .top_title {
    font-size: 1.2rem; letter-spacing: -0.02em; margin-bottom:15px;
}
.title_bg .title .top_title em {
    font-size: 1.2rem; letter-spacing: -0.02em; font-weight: 700;
}
.title_bg .title .flag {position: absolute; left:750px; top:183px;}
.title_bg .title .flag img {}
.title_bg .title h1 {
    padding-top:10px; margin-bottom:10px;
    font-size: 9.375rem; line-height:125px;
    letter-spacing:-0.02em;
    background: var(--italy, linear-gradient(90deg, #2EBC83 22.4%, #000 48.96%, #F96666 75%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Sofia', cursive;
    text-align: center;
}
.title_bg .title .btm_title {font-size: 1.44rem; letter-spacing: -0.02em;}
.title_bg .title .btm_title em {font-size: 1.44rem; font-weight: 700;}
/* 2. route */
.route_bg {background: linear-gradient(180deg, #E6C0AA 0%, #A1C298 56.86%);}
.route_bg .route {}
.route_bg .route .mini_title {}
.route_bg .route .mini_title h1 {}
.route_bg .route .mini_title p {}
.route_bg .route .contents {
    display: flex; flex-flow: column nowrap; align-items: center;
}
.route_bg .route .contents .list {
    margin-bottom: 50px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
.route_bg .route .contents .list span {
    background: #fff; border-radius: 25px;
    padding: 15px 20px;
    font-size: 1.44rem; letter-spacing: -0.02em;
    margin: 0 20px; color: #333;
}
.route_bg .route .contents .list img {width: 20px;}
.route_bg .route .contents .map {width:550px;}
.route_bg .route .contents .map img {width:100%;}
/* 3. quiz */
.quiz_bg {
    background:url(../images/rome_bg.jpg) no-repeat fixed center;
    background-size: cover;
}
.quiz_bg .quiz {}
.quiz_bg .quiz .mini_title {}
.quiz_bg .quiz .mini_title h1 {}
.quiz_bg .quiz .mini_title p {}
.quiz_bg .quiz .contents {
    width: 1200px;
    display: flex; flex-flow: row nowrap; 
    align-items: center; justify-content: space-between;
    color: #fff;
}
.quiz_bg .quiz .contents .left {}
.quiz_bg .quiz .contents .left h2 {
    display: flex; flex-flow: row nowrap; align-items: center;
}
.quiz_bg .quiz .contents .left h2 img {margin-right: 10px;}
.quiz_bg .quiz .contents .left h2 p {
    font-size: 1.728rem; font-weight: 500; letter-spacing: -0.02em;
}
.quiz_bg .quiz .contents .left #quiz_frm {}
.quiz_bg .quiz .contents .left #quiz_frm fieldset {}
.quiz_bg .quiz .contents .left #quiz_frm fieldset ul {margin:10px 0 0 10px;}
.quiz_bg .quiz .contents .left #quiz_frm fieldset ul li {margin-top: 25px;}
.quiz_bg .quiz .contents .left #quiz_frm fieldset ul li label {}
.quiz_bg .quiz .contents .left #quiz_frm fieldset ul li label input {
    appearance: none;
}
.quiz_bg .quiz .contents .left #quiz_frm fieldset ul li label span {
    background: url(../images/icon/un_check.png) no-repeat;
    background-position:0%;
    padding-left: 25px;
    font-size: 1.44rem; letter-spacing: -0.02em;
}
.quiz_bg .quiz .contents .left #quiz_frm fieldset ul li label input:checked+span {
    background:url(../images/icon/check.png) no-repeat;
    background-position:0%;
}
.quiz_bg .quiz .contents .left #quiz_frm fieldset #answer_btn {
    background: #FA7070;
    color: #fff; font-size: 1.44rem; font-weight: 500; letter-spacing: -0.02em;
    padding: 20px 200px; border-radius: 30px;
    margin-top: 35px; transition: all 0.3s;
}
.quiz_bg .quiz .contents .left #quiz_frm fieldset #answer_btn:hover {
    background:#4F6A85;
    box-shadow: 3px 3px 10px 3px #000;
}
.quiz_bg .quiz .contents .right {
    display: flex; flex-flow: column nowrap; align-items: center;}
.quiz_bg .quiz .contents .right .current {width: 500px; margin-bottom: 15px;}
.quiz_bg .quiz .contents .right .current h2 {
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; padding: 25px 0;
    background: #a1c298;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.quiz_bg .quiz .contents .right .current h2 img {
    width: 40px; height: 40px; 
    margin-right: 10px;
}
.quiz_bg .quiz .contents .right .current h2 span {
    font-size: 1.728em; font-weight: 500; letter-spacing: -0.02em;
}
.quiz_bg .quiz .contents .right .current .content {
    display: flex; flex-flow: row nowrap; align-items:flex-end; 
    justify-content: center; background: #fff;
    padding: 50px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.quiz_bg .quiz .contents .right .content em {
    color: #a1c298; font-size: 4rem; 
    font-weight: 700; letter-spacing: -0.02em;
}
.quiz_bg .quiz .contents .right .content span {
    color: #333; font-size: 1.44rem; 
    font-weight: 500; letter-spacing: -0.02em;
}
.quiz_bg .quiz .contents .right p{font-weight: 500; letter-spacing: -0.02em;}
/* 4. tourism */
.tourism_bg {
    background: url(../images/blue_bg.jpg) no-repeat center 70%;
    background-size: cover;
}
.tourism_bg .tourism {}
.tourism_bg .tourism .mini_title {}
.tourism_bg .tourism .mini_title h1 {}
.tourism_bg .tourism .mini_title p {color: #a1c298;}
.tourism_bg .tourism .contents {}
.tourism_bg .tourism .contents ul {
    display: flex; flex-flow: row wrap;
}
.tourism_bg .tourism .contents ul li {
    color: #fff;
    display: flex; flex-flow: column nowrap; align-items: center; 
    margin-bottom: 70px;
}
.tourism_bg .tourism .contents ul li:nth-child(5),
.tourism_bg .tourism .contents ul li:nth-child(6) {margin-bottom: 0;}
.tourism_bg .tourism .contents ul li:nth-child(2n+1) {margin-right: 50px;}
.tourism_bg .tourism .contents ul li img {
    width: 550px; height: 385px;
    border-radius: 50px;
    margin-bottom: 20px;

}
.tourism_bg .tourism .contents ul li h3 {
    background: #a1c298; 
    font-size: 1.728rem; font-weight: 700; letter-spacing: -0.02em;
    display: inline-block;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
}
.tourism_bg .tourism .contents ul li p {
    font-size: 1.2rem; letter-spacing: -0.02em; 
}
/* 5. food */
.food_bg {background:#674747;}
.food_bg .food {}
.food_bg .food .mini_title {}
.food_bg .food .mini_title h1 {}
.food_bg .food .mini_title p {color: #FA7070;}
.food_bg .food .contents {}
.food_bg .food .contents ul {display: flex; flex-flow: row wrap;}
.food_bg .food .contents ul li {
    color: #fff;
    display: flex; flex-flow: column nowrap; align-items: center; 
    margin-bottom: 70px; margin-right: 50px;
}
.food_bg .food .contents ul li:nth-child(3n) {margin-right: 0;}
.food_bg .food .contents ul li img {
    width: 350px; height: 350px; border-radius: 50%; 
    margin-bottom: 15px;
}
.food_bg .food .contents ul li:nth-child(7),
.food_bg .food .contents ul li:nth-child(8),
.food_bg .food .contents ul li:nth-child(9) {margin-bottom: 0;}
.food_bg .food .contents ul li p {letter-spacing: -0.02em; margin-bottom: 15px;}
.food_bg .food .contents ul li h3 {
    background: #FA7070; 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
    font-size: 1.44rem; font-weight: 500; letter-spacing: -0.02em;
}
/* 6. video */
.video_bg {
    background: linear-gradient(180deg, #674747 0%, #120703 100%);
}
.video_bg .video {}
.video_bg .video .mini_title {}
.video_bg .video .mini_title h1 {}
.video_bg .video .mini_title p {}
.video_bg .video iframe {width: 800px; height: 500px;}
/* 7. package */
.package_bg {
    background:url(../images/rome_bg.jpg) no-repeat fixed center;
    background-size:cover;
}
.package_bg .package .mini_title {}
.package_bg .package .mini_title h1 {}
.package_bg .package .mini_title p {}
.package_bg .package .contents {}
.package_bg .package .contents ul {
    display: flex; flex-flow: column nowrap;
    align-items: center; justify-content:center;
}
.package_bg .package .contents ul li {
    width:100%; background: #fff; 
    display: flex; align-items: center; justify-content:space-between;
    margin-bottom:20px;
    transition: all 0.3s;
}
.package_bg .package .contents ul li:hover {width:103%;}
.package_bg .package .contents ul li:last-child {margin-bottom:0;}
.package_bg .package .contents ul li > img {width:20%;}
.package_bg .package .contents ul li .info {
    width: 80%; display: flex;
    justify-content:space-between; padding:0 20px;
}
.package_bg .package .contents ul li .info .left {color:#333;}
.package_bg .package .contents ul li .info .left h4 {
    font-size:1.2rem; font-weight:500; letter-spacing: -0.02em;
    margin-bottom:20px;
    transition: all 0.3s;
}
.package_bg .package .contents ul li:hover .info .left h4 {
    font-size:1.44rem; font-weight:700;
}
.package_bg .package .contents ul li .info .left p {
    font-size:0.833rem; letter-spacing:-0.02em;
}
.package_bg .package .contents ul li .info .right {
    display: flex; flex-flow: row nowrap; 
    align-items: center; justify-content: center; 
}
.package_bg .package .contents ul li .info .right p {
    letter-spacing: -0.02em; margin-right:20px; color:#FA7070;
}
.package_bg .package .contents ul li .info .right p em {
    font-size: 1.44rem; font-weight: 500; letter-spacing: -0.02em;
    letter-spacing: -0.02em; transition: all 0.3s;
}
.package_bg .package .contents ul li:hover .info .right p em {
    font-size: 1.728rem; font-weight: 700;
}
.package_bg .package .contents ul li .info .right .departday {
    background:#eee; padding: 10px 15px;
    display:flex; align-items:center; justify-content: center;
    transition: all 0.5s;
}
.package_bg .package .contents ul li .info .right .departday:hover {
    background:#a1c298;
}
.package_bg .package .contents ul li .info .right .departday:hover span {
    color:#fff;
}
.package_bg .package .contents ul li .info .right .departday span {
    color: #333; font-weight:500;
    font-size: 0.833rem; letter-spacing:-0.02em; margin-right: 10px;
}
.package_bg .package .contents ul li .info .right .departday img {
    width:16px;
}